* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
}


li {
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.navbar {
    min-height: 4.375em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4em;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #00ffff;
}

.navbar-brand {
    font-size: 2em;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 1.5625em;
    height: 0.1875em;
    margin: 0.3125em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

@media (max-width: 48em) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(0.5em) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-0.5em) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4.375em;
        gap: 0;
        flex-direction: column;
        background-color: darkolivegreen;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 0em;
    }

    .nav-menu.active {
        left: 0;
    }
}