.mobile-container {
@media only screen and (min-width: 30em;)
    margin: auto;
    background-color: #555;
@media only screen and (height: 30em;)
    color: white;
    border-radius: 0em;
}

.navbar, .nav-link {
    color: #000000;
    padding: auto;
    text-decoration: none;
    font-size: 1em;
    display: block;
    overflow: hidden;
}
