h1 {
    text-align: center;
    color: #ff8c00;
    background-color: #483d8b;
    line-height: 2em;
}

body {
    background-color: #483d8b;
    color: #000000;
}

.products-container {
    background-color: #008b8b;
    color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.table {
    color: #000000;
    --bs-table-striped-color: #000000;
    --bs-table-active-color: #000000;
    --bs-table-hover-color: #000000;
}

.card-body {
    flex: none;
    padding: 0em;
}

.card-price {
    color: #000000;
}

a.main-btn.btn-responsive {
    color: #000000;
    background-color: #00ffff;
    border-color: #000000;
}

a.main-btn.btn-responsive:hover {
    background-color: #8b008b;
}

button{
    color: #000000;
    background-color: #00ffff;
    border-color: #000000;
}

button:hover {
    background-color: #8b008b;
}

.btn-outline-light {
    color: #000000;
    background-color: #adff2f;
    border-color: #000000;
}

.btn-outline-light:hover {
    background-color: #7fffd4;
}

.form-control {
    width: 15em;
    position: relative;
    left: 1em;
}

.toggle-container {
    color: orange;
    position: relative;
    right: -1em;
}

.fa-magnifying-glass {
    position: relative;
    right: 0.5em;
}

.navbar-brand {
    position: relative;
    left: 0.5em;
}

.w-100 {
    background-color: grey;
}

.transport {
    position: relative;
    right: -20em;
    top: 10em;
}

.warranty {
    position: relative;
    right: -45em;
    top: 4em;
}

.payment {
    position: relative;
    right: -20em;
    top: 5em;
}

.support {
    position: relative;
    right: -45em;
    top: -1.5em;
}

.copyright {
    position: relative;
    right: -30em;
}
